@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
}
main {
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.flex_container {
  display: flex;
  flex-flow: wrap;
  margin: auto;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  width: 70%;
  
  font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
  
}
.flex_container div {
  width: 30%;
  padding: 2em;
  border-radius: 5px;
  height: 25em;
  margin-top: -1em;
}

.flex_box1 {
  background-color: hsl(31, 77%, 52%);
}
.flex_box2 {
  background-color: hsl(184, 100%, 22%);
}
.flex_box3 {
  background-color: hsl(179, 100%, 13%);
}

img {
  padding-bottom: 1em;
}

h2 {
  color: hsl(0, 0%, 95%);
  padding: 1em;
  font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
  padding-top: 5px;
}
button {
  color: hsl(0, 0%, 95%);
  border-radius: 15px;
  margin: 2.5em 0 3px 0;
  padding: 10px;
  font-size: 13px;
  border-style: none;
  cursor: pointer;
}


.flex_box1 button {
  color: hsl(31, 77%, 52%);
}
.flex_box2 button {
  color: hsl(184, 100%, 22%);
}
.flex_box3 button {
  color: hsl(179, 100%, 13%);
}
p {
  color: hsla(0, 0%, 100%, 0.75);
}
/* for mobile */
@media only screen and (max-width: 375px) {
  .flex_container div{
    width: 100%;
   
  }
}



